<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>

      <main class="interactive">

        <h1>TK</h1>

        <p>
          TK
        </p>

        <table class="shootings collapsed">
          <thead>
            <tr>
              <th>Date
              <th>Inside Life Care Center of Kirkland

              <th>
                <ul class="key">
                  <li> <div class="case dot"></div> Confirmed cases
                  <li> <div class="death dot"></div> Deaths
                </ul>
                <th>Outside in Washington
              </th>
          <tbody>
          <%
          var moment = require("moment");
          var toMomentObj = function(str) {
            var [month, day, year] = str.split("/").map(Number);
            return moment(new Date(year, month - 1, day));
          };
          var apShortMonth = new Set([1, 2, 8, 9, 10, 11, 12]);
          var formatDate = function(str) {
            var useShort = apShortMonth.has(Number(str.split("/")[0]))
            return toMomentObj(str).format(`${useShort ? 'MMM.' : 'MMMM'} D`);
          };
          var compareDate = function(rowA, rowB) {
            var [momentA, momentB] = [toMomentObj(rowA.date), toMomentObj(rowB.date)];
            return momentA.valueOf() - momentB.valueOf();
          };
          
          <!-- console.log(JSON.stringify(json.timeline)); -->
          var rows = json.timeline;

          var currentYear = null;
          %>

          <% rows.forEach(function(row) {
               if (row.Year !== currentYear) {
                 currentYear = row.Year; %>
            <tr data-year="<%= row.Year %>" class="year-head">
              <th></th>
              <th><%= row.Year %></th>
              <th></th>
              <th></th>
            </tr>
            <% } %>

            <tr data-year="<%= row.Year %>">
              <td class="date"><%= formatDate(row.date) %></td>
              <td class="event">
                <%= row.lifeCare %>
                <% if (row.url) { %>
                  </a>
                <% } %>
                <% if (row.mp3) {%>
                  <%
                  var audioData = {
                    speaker: row.speaker,
                    mp3: "./assets/" + row.mp3,
                    vtt: "./assets/" + row.vtt,
                  }
                   %>
                  <%= t.include("partials/_audio.html", audioData) %>
                <% } %>
                <% if (row.mp3_2) {%>
                  <%
                  var audioData = {
                    speaker2: row.speaker2,
                    mp3_2: "./assets/" + row.mp3_2,
                    vtt2: "./assets/" + row.vtt2,
                  }
                   %>
                  <%= t.include("partials/_audio2.html", audioData) %>
                <% } %>
                <% if (row.mp3_3) {%>
                  <%
                  var audioData = {
                    speaker3: row.speaker3,
                    mp3_3: "./assets/" + row.mp3_3,
                    vtt3: "./assets/" + row.vtt3,
                  }
                   %>
                  <%= t.include("partials/_audio3.html", audioData) %>
                <% } %>
              </td>

              <td class="dots">
                  <% for (var i = 0; i < row.cases; i++) { %>
                    <div class="case dot"></div>
                  <% } %>

                  <% for (var i = 0; i < row.deaths; i++) { %>
                    <div class="death dot"></div>
                  <% } %>
              </td>

              <td class="wa">
                <% if (row.url) { %>
                  <a href="<%= row.url %>" target="_blank">
                <% } %>
                <%= row.wa %>
                <% if (row.urlWA) { %>
                  </a>
                <% } %>
              </td>
            </tr>
          <% }) %>
            <tr class="uncollapse" tabindex=0 role="button">
              <td colspan="99">
                Show more
              </td>
            </tr>
        </table>
        <div></div>
        <div class="source">
          <div>
            <p>*Confirmed cases do include deaths</p>
            <p>XXX</p>
            <p>Sources: Life Care Center of Kirkland, King County Public Health, Snohomish Public Health, Times reporting</p>
          </div>
          <div class="credit">
            <p>Design and development: Emily M. Eng</p>
            <P>Audio editing: Lauren Frohne</P>
            <p>Research and reporting: Asia Fields and Mary Hudetz</p>
          </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
