<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>

      <main class="interactive">

        <h1>TK</h1>

        <p>
          TK
        </p>

        <table class="shootings collapsed">
          <thead>
            <tr>
              <th>Date
              <th>Inside Life Care Center of Kirkland

              <th>
                <ul class="key">
                  <li> <div class="death dot"></div> Confirmed cases
                  <li> <div class="injury dot"></div> Deaths
                </ul>
                <th>Outside in Washington
              </th>
          <tbody>
          <%
          var moment = require("moment");
          var toMomentObj = function(str) {
            var [month, day, year] = str.split("/").map(Number);
            return moment(new Date(year, month - 1, day));
          };
          var apShortMonth = new Set([1, 2, 8, 9, 10, 11, 12]);
          var formatDate = function(str) {
            var useShort = apShortMonth.has(Number(str.split("/")[0]))
            return toMomentObj(str).format(`${useShort ? 'MMM.' : 'MMMM'} D`);
          };
          var compareDate = function(rowA, rowB) {
            var [momentA, momentB] = [toMomentObj(rowA.date), toMomentObj(rowB.date)];
            return momentA.valueOf() - momentB.valueOf();
          };

          // Combine the rows for 10/24/2014
          var timelineIndex = json.timeline.findIndex(r => r.date === "10/24/2014");
          var mphsIndex = json.mphs.findIndex(r => r.date === "10/24/2014");
          Object.assign(json.timeline[timelineIndex], json.mphs[mphsIndex]); // combine into timeline list
          json.mphs.splice(mphsIndex, 1); // remove from mphs list


          var rows = json.timeline.concat(json.mphs).sort(compareDate);
          var currentYear = null;
          %>
          <% rows.forEach(function(row) {
               if (row.schoolYear !== currentYear) {
                 currentYear = row.schoolYear; %>
            <tr data-year="<%= row.schoolYear %>" class="year-head">
              <th></th>
              <th><%= row.schoolYear %></th>
              <th></th>
              <th></th>
            </tr>
            <% } %>

            <tr data-year="<%= row.schoolYear %>">
              <td class="date"><%= formatDate(row.date) %>
              <td class="event">
                <% if (row.link) {  %>
                <a href="<%= row.link %>" target="_blank">
                <% } %>
                <%= row.event %>
                <% if (row.link) { %>
                </a>
                <% } %>

                <td class="dots">
                  <% for (var i = 0; i < row.deaths; i++) { %>
                  <div class="death dot"></div>
                  <% } %>
                  <% for (var i = 0; i < row.injuries; i++) { %>
                  <div class="injury dot"></div>
                  <% } %>

              <td class="school <%= row.school === 'Marysville-Pilchuck High School' ? 'first' : '' %>">
                <% if (row.url) { %>
                <a href="<%= row.url %>" target="_blank">
                <% } %>
                <%= row.school %>
                <% if (row.url) { %>
                </a>
                <% } %>
                <i><%= row.location %>
                  <% if (row.enrolled) { %>
                  <span class="enrolled"><%= row.enrolled.toLocaleString("en-US") %> students enrolled</span>
                  <% } %>
                </i>


          <% }) %>
            <tr class="uncollapse" tabindex=0 role="button">
              <td colspan="99">
                Show more weeks
              </td>
            </table>
            <div>
              <%= t.include("partials/_belongAudio.html") %>
            </div>

        <div class="source">
          <div>
            <p>*Reports unclear whether shooting happened on school property</p>
            <p>Incidents shown here only include fatal school shootings during the four school years of the Marysville-Pilchuck Class of 2018. Death and injury counts show the number of people killed or injured on school property by shootings, including shooter suicides.</p>
            <p>Sources: <a href="https://github.com/washingtonpost/data-school-shootings">The Washington Post</a>, Everytown Research, Marysville-Pilchuck High School, news sources</p>
          </div>
          <div class="credit">
            <p>Design and development: Emily M. Eng</p>
            <P>Audio editing: Lauren Frohne</P>
            <p>Research and reporting: Asia Fields and Mary Hudetz</p>
          </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
